body {
  overflow-y: scroll; /* Show scrollbar on all pages */
}

.nav-separator {
  width: 1px;
  height: 24px;
  background-color: #e05433 !important;
  margin: 0 10px;
  align-self: center;
}

.brand-logo {
  margin-right: 8px; /* Adjust the value as needed */
}

img {
  width: 100%;
}

.showcase {
  position: relative;
  background: url('./../public/images/showcase.jpg') no-repeat center center/cover;
  min-height: 91.5vh;
  color: #fff;
}

.showcase-inner {
  text-align: center;
  padding-top: 15%;
  height: 100%;
  width: 80%;
  margin: auto;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-head-color {
  background-color: #e05433;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Full viewport height */
}

.full-size-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
