img {
  width: 100%;
}

.showcase {
  position: relative;
  background: url('../../public/img/showcase.jpg') no-repeat center center/cover;
  min-height: 100vh;
  color: #fff;
}

.showcase-inner {
  text-align: center;
  padding-top: 10%;
  height: 100%;
  width: 80%;
  margin: auto;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}